@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/circe');
@import './vars.scss';
@import './mixins-extends.scss';
*{
    // font-family: 'Circe', sans-serif;
    // font-family: "Raleway", sans-serif;
    // font-family: "Inter", sans-serif;
    // font-family: "Lato", sans-serif;
    // font-family: "Plus Jakarta Sans", sans-serif;
}
.container{
    width: 1252px;
    margin: 0 auto 0;
}
.home__titles {
    @include font-style($text-color,32px,700,94%,$font-family);
}
.button{
    cursor: pointer;
    width: 189px;
    height: 47px;
    border-radius: 5px;
    @include font-style($white-color,16px,700,none,$font-family);
}