@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/circe');

$font-family: "Raleway", sans-serif;
$second-family:"Inter", sans-serif;
$third-family:'Circe', sans-serif;
$font3:"Lato", sans-serif;
$font4:"Plus Jakarta Sans", sans-serif;

$gradient-color-one: #F35C37;
$gradient-color-two: #F88D3D;

$first-color: #FFC844;
$bg-color:#fff;
$footer-color:#141414;
$line-color:#E6E6E6;
$card-color:#f6f6f6;
$input-text-color:#a5a5a5;
$second-input-text-color:#667085;

$text-color:#151515;
$second-text-color: #333;
$third-text-color: #303030;
$fourth-text-color:#444;
$fifth-text-color:#374151;
$sixth-text-color:#18181b;
$seventh-text-color:#344054;
$description-text-color:#999;
$desc-color:#b5b5b5;
$second-desc-color:#666;
$third-desc-color:#71717a;

$white-color: #FFFFFF;
$second-white-color:#F9F9F9;
$third-white-color:#f5f5f5;
$gray-color:#D4D4D4;
$second-gray-color:#7c7c7c;
$third-gray-color:#eaeaea;
$fourth-gray-color:#e5e5e5;  
$fifth-gray-color:#6e6e6e;
$sixth-gray-color:#bcbcbc;
$seventh-gray-color:#cfcfcf;       
$eighth-gray-color:#e4e4e7;
$tenh-gray-color: #cccccc;
$eleventh-gray-color:#efefef;                                 
$black-color:#000;
$green-color:#026d4e;
$red-color:#D9534F;

